body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2%;
  background-color: #04041e;
  color:aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2::after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 1rem 0;
}
form{
  width: 100%;
  height: calc(100px + 25vh);
  background-color: rgba(201, 207, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(46, 49, 86, 0.37);
  backdrop-filter: blur( 50.5px );
  -webkit-backdrop-filter: blur( 50.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.uploadContainer{
  display: flex;
  align-items: center;
  text-align: left;
  gap: 2rem
}

.uploadButton{
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: #04041e;
  cursor: pointer;
  transition: 0.1s ease all;
  border: 1px solid aliceblue;
}
.uploadButton:hover{
  color: #04041e;
}

.uploadButton::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  transition: 0.1s ease all;
  background-color: aliceblue;
  z-index: -1;
  transform: scale(0, 1);
  transform-origin: top right;
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);

}

.uploadButton:hover::after{
  transform: scale(1, 1);
  transform-origin: top left;
}

@media screen and (max-width: 768px) {
  form{
    flex-direction: column;
    height: 100%;
    gap: 4rem
  }
  .uploadContainer{
    flex-direction: column;
    gap: 3rem;
  }
  
}